@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


* {
  --primary1: #48A0D8;
  --primary2: #705CA6;
  --primary3: #C2328B;
  --primary1Hover: #1e5fc0;
  --primary2Hover: #5A4494;
  --primary3Hover: #A42B76; 
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Fjalla One', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--primary1);
  height: auto;
}

nav {
  width: 50%;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: var(--primary3);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

a {
  text-decoration: none;
  font-size: 1.4vw;
  font-weight: 700;
  color: white;
}

a:hover {
  color: var(--primary2Hover);
}

.align-center {
  align-items: center;
  justify-content: space-around;
  gap: 10px;
} 

.content {
  width: 100%;
  height: auto;
  background: radial-gradient(ellipse at top right, var(--primary3) 29%, transparent),
  radial-gradient(circle at top, transparent, var(--primary1) 1%),
  radial-gradient(circle at bottom right, transparent, var(--primary1Hover));
}

.content1 {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 40px 0px;
}

.wave {
  width: 90%;
  overflow: hidden;
}

svg {
  width: 100%;
}

path {
  stroke: white;
  stroke-width: 1px;
  stroke-linecap: round;
  fill: none;
}

.text {
  width: 45%;
  height: 400px;
  text-align: left;
  font-weight: 900;
  font-size: 2.9vw;
  color: white;
}

.strong {
  background-color: #C2328B;
  padding: 0px 10px 10px 5px;
  border-radius: 10px;
  text-align: left;
  height: auto;
  width: fit-content;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.factory-image {
  width: 45%;
  height: auto;
}

.text-image-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between !important;
  flex-wrap: wrap-reverse;
}

.icon-selfSupply {
  width: 70px;
  border-radius: 10px;
}

.secondary-text-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.secondary-text {
  font-size: 2vw;
  color: white;
  font-weight: 100;
  text-align: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: auto;
  width: 90%;
}

.containers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 15vw;
  border-radius: 10px;
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 200;
  font-size: 1.2vw;
  width: 100%;
  height: 40%;
  background-color: var(--primary3);
  border-radius: 10px;
  color: white;
}

.body {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-img {
  width: 80px;
}

#map-container-img {
  width: 200px;
}

#container-simplus {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#simplus {
  width: 18vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
}

.heading-simplus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkslategrey;
  font-weight: 700;
  font-size: 2vw;
  width: 78%;
  height: 40%;
  border-bottom: 1px solid var(--primary3);
  padding: 10px;
}

.main-container-partners {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 45vw;
  border-radius: 10px;
}

.partners {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
}

.partners-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  font-size: 1.4vw;
  background-color: var(--primary3);
}

.partners-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 70%;
  height: 100%;
}

.mensalidades-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.mensalidades-items {
  width: 18vw;
  height: 19vw;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}


/*media queries*/

@media (max-width: 600px) {
  .text-image-container {
    flex-direction: column-reverse;
    justify-content: center !important;
  }
}