

* {
  --primary1: rgb(0, 174, 239);
  --primary2: rgb(0, 0, 0);
  --primary3: rgb(130, 130, 130);
  --primary1Hover: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--primary1);
  height: auto;
}

nav {
  width: 50%;
  height: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
}

.ul > li::before {
  content: "\2022";
  color: var(--primary3);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

a {
  text-decoration: none;
  font-size: 2vw;
  font-weight: 700;
  color: white;
  transition: .6s;
}

a:hover {
  color: var(--primary2Hover);
}

.align-center {
  align-items: center;
  justify-content: space-around;
  gap: 10px;
} 

.content {
  width: 100%;
  height: auto;
  background: white;
  border-bottom: 1px solid var(--primary3);
}

.content1 {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 40px 0px;
}

.wave {
  width: 90%;
  overflow: hidden;
}

svg {
  width: 100%;
}

path {
  stroke: var(--primary1);
  stroke-width: 1px;
  stroke-linecap: round;
  fill: none;
}

.text {
  width: 45%;
  height: 400px;
  text-align: left;
  font-weight: 900;
  font-size: 2.6vw;
  color: var(--primary3);
}

.strong {
  background-color: var(--primary1);
  color: var(--primary1Hover);
  padding: 0px 10px 10px 5px;
  border-radius: 10px;
  text-align: left;
  height: auto;
  width: fit-content;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 30px;
}

.factory-image {
  width: 42%;
  height: auto;
  min-width: 300px;
}

.text-image-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between !important;
  flex-wrap: wrap-reverse;
}

.icon-selfSupply {
  width: 99px;
  border-radius: 10px;
  border-radius: 50%;
}

.secondary-text-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
}

.secondary-text {
  font-size: 2vw;
  color: var(--primary3);
  font-weight: 100;
  text-align: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: auto;
  width: 90%;
}

.containers-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;
  width: 12vw;
  height: 15vw;
  border-radius: 10px;
  background-color: white;
  outline: 1px solid var(--primary1);
  font-size: 1.2vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 200;
  font-size: 1.3vw;
  width: 100%;
  height: 40%;
  background-color: var(--primary1);
  border-radius: 10px;
  color: white;
}

.body {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.body-img {
  width: 100px;
}

#map-container-img {
  width: 200px;
}

#container-simplus {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#simplus {
  width: 18vw;
  height: 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  outline: 1px solid var(--primary1);
  border-radius: 10px;
  font-size: 1.2vw;
}

.heading-simplus {
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkslategrey;
  font-weight: 700;
  font-size: 2vw;
  width: 78%;
  height: 40%;
  border-bottom: 1px solid var(--primary3);
  padding: 10px;
}

.main-container-partners {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partners-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 45vw;
  border-radius: 10px;
}

.partners {
  width: 100%;
  height: 9vw;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
  outline: 1px solid var(--primary1);
}

.partners-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  color: white;
  font-weight: 400;
  font-size: 1.4vw;
  background-color: var(--primary1);
}

.partners-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: 70%;
  height: 100%;
}

.contacts-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  color: var(--primary3);
}

.contacts-name-container > div {
  width: 24vw;
  text-align: center;
}

.contacts-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.contacts-content > #phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts-content > div, .contacts-content > #phone > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 24vw;
}



/*media queries*/

@media (max-width: 1264px) {
 .container, #simplus {
    width: 180px;
    height: 200px;
 }
}

@media (max-width: 1024px) {
  .big-container {
    height: 320px !important;
    width: 200px !important;
 }
}

@media (max-width: 768px) {
  #container-simplus {
    flex-direction: column;
    justify-content: center !important;
    gap: 10px;
  }

  .big-container {
    font-size: 13px ;
  }

  .text-image-container {
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  a {
    font-size: 1.8rem;
  }

  .container {
    font-size: 13px;
  }

  .container, #simplus {
    width: 120px;
    height: 140px;
  }

 .body-img {
   width: 60px;
  }

  .secondary-text-container {
    align-items: center !important;
  }
}

@media (max-width: 600px) {
  a {
    font-size: 1.2rem;
  }

  .big-container {
    font-size: 10px;
    width: 150px !important;
    height: 280px !important;
  }

  .icon-selfSupply {
    width: 60px;
  }

  .header {
    font-size: 3.2vw;
  }

  .secondary-text{
    font-size: 1rem;
  }

  #strong  {
    font-size: 1.2rem !important;
    text-align: center;
  }

  #simplus{
    font-size: 10px;
  }

  .heading-simplus {
    font-size: 12px;
  }

  .text {
    font-size: 25px;
  }

  .text-container {
    width: 100%; 
    min-width: 100%;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .partners-container {
    width: 80%;
  }

  .main-container-partners {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .partners {
    height: 60px;
  }
  
  .partners-name {
    font-size: 16px;
  }

  .partners-logos > img {
    min-width: 70px;
  }
}

@media (max-width: 400px) {
  .partners-container {
    width: 95%;
  }
}